.container{
    width: 600px;
    height: 600px;
    background-color: violet;
    border: 1px solid blue;
    font-size: 0;
}

.cell{
    outline: 1px solid rgb(0 0 0 / .5);
    background-color: #fff;
    display: inline-block;
}

