.canvas__container{
    margin: auto;
}

.canvas{
    width: 600px;
    height: 600px;
    background-color: violet;
    box-shadow: 0 0 10px 5px rgb(0 0 0 / .2);
    font-size: 0;
}

.cell{
    outline: 1px solid rgb(0 0 0 / .02);
    display: inline-block;
}

