@use "../Abstracts/colors" as c;

body{
    height: 100vh;
    background-color: c.$background-grey;
}

h1{
    margin: 0 auto 30px auto;
    padding-top: 30px;
    text-align: center;
}

.workspace{
    display: flex;
    column-gap: 100px;
}